---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.commentThread",
            "reason": "videoNotFound",
            "message": "The video identified by the \u003ccode\u003e\u003ca href=\"/youtube/v3/docs/commentThreads/list#videoId\"\u003evideoId\u003c/a\u003e\u003c/code\u003e parameter could not be found.",
            "locationType": "parameter",
            "location": "videoId"
           }
          ],
          "code": 404,
          "message": "The video identified by the \u003ccode\u003e\u003ca href=\"/youtube/v3/docs/commentThreads/list#videoId\"\u003evideoId\u003c/a\u003e\u003c/code\u003e parameter could not be found."
         }
        }
  recorded_at: Sun, 23 Oct 2016 12:58:45 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=OyDSCKYz5sA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/0tYxCQgQrNPQtfK0swmPpbDkT8I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentThreadListResponse",
         "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/0tYxCQgQrNPQtfK0swmPpbDkT8I\"",
         "nextPageToken": "Cg0QjISth_7wzwIgACgBEsIBCAAQ6NOXxKfuzwIqtAHt4-PV_ruI5mGv_onP9unRvmDju8GTzse2uGG_n4HNgYPC22LL1eGOk6Cmt2GluJfB5Yz14GKHp5apne7p9mL7tcy1joii1mCFhNHx2t_xw2KZmuiU6_S2wGC1gOChy9mJx2Oj6Iv5gtmZ92GH6fy8sM2jmmKLtLXy6I6l02KH-azr2d-i0GDK6cfFkovC8mDy-6K96IKxpWGnueiI2qKJyGDqrp6Py7aqhmD4w7vd1POe5WMYASAUKJDA-9bJ_9vSdQ==",
         "pageInfo": {
          "totalResults": 20,
          "resultsPerPage": 20
         },
         "items": [
          {
           "kind": "youtube#commentThread",
           "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/2aUC7ozfePnvjpL-bGpzar5Ux1Q\"",
           "id": "z13xwdrrcsvhv3ttk221zdnzalv0jhu3w",
           "snippet": {
            "videoId": "OyDSCKYz5sA",
            "topLevelComment": {
             "kind": "youtube#comment",
             "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/BsHlUmLxBF-0o5cNfmEnim7zUGU\"",
             "id": "z13xwdrrcsvhv3ttk221zdnzalv0jhu3w",
             "snippet": {
              "authorDisplayName": "TheVectorGuy",
              "authorProfileImageUrl": "https://lh5.googleusercontent.com/-G4LBqo3OTGY/AAAAAAAAAAI/AAAAAAAAAHg/PrF_mVhPEBA/photo.jpg?sz=50",
              "authorChannelUrl": "http://www.youtube.com/channel/UCwcUMfCaVww25AzyNZf-ngQ",
              "authorChannelId": {
               "value": "UCwcUMfCaVww25AzyNZf-ngQ"
              },
              "videoId": "OyDSCKYz5sA",
              "textDisplay": "Hillary is sooooooooooooooooooooooooooooooooo\u003cbr /\u003e\u003cbr /\u003e\u003cbr /\u003e\u003cbr /\u003e⊂_ヽ\u003cbr /\u003e　 ＼＼ ＿\u003cbr /\u003e　　 ＼(　•_•) H\u003cbr /\u003e　　　 &lt;　⌒ヽ I\u003cbr /\u003e　　　/ 　 へ＼ L\u003cbr /\u003e　　 /　　/　＼＼ L\u003cbr /\u003e　　 ﾚ　ノ　　 ヽ_つ A\u003cbr /\u003e　　/　/ R\u003cbr /\u003e　 /　/    Y\u003cbr /\u003e　(　(ヽ    I\u003cbr /\u003e　|　|、＼.  O\u003cbr /\u003e　| 丿 ＼ ⌒) U\u003cbr /\u003e　| |　　) /  S\u003cbr /\u003e ノ )　　Lﾉ__\u003cbr /\u003e(／___\ufeff",
              "canRate": false,
              "viewerRating": "none",
              "likeCount": 42,
              "publishedAt": "2016-10-19T21:12:22.000Z",
              "updatedAt": "2016-10-19T21:12:22.000Z"
             }
            },
            "canReply": false,
            "totalReplyCount": 9,
            "isPublic": true
           }
          },
          {
           "kind": "youtube#commentThread",
           "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/Hsw66DYbZEMXDVSjvpvYhIAOF4k\"",
           "id": "z13nifmyjuu3v5ei304cedkpmyijwn2ydcw",
           "snippet": {
            "videoId": "OyDSCKYz5sA",
            "topLevelComment": {
             "kind": "youtube#comment",
             "etag": "\"I_8xdZu766_FSaexEaDXTIfEWc0/0HPMbzMtGrU1X9sH1DQlMCd5M4Y\"",
             "id": "z13nifmyjuu3v5ei304cedkpmyijwn2ydcw[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?fields=&key=<API_KEY>&order=relevance&part=snippet&videoId=OyDSCKYz5sA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/jEYaAenVG00dHhCyJtQO2LHJIYg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Sun, 23 Oct 2016 13:02:03 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=OyDSCKYz5sA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/4ONzo4UwlN89WUTxWancAMc6iMo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "OyDSCKYz5sA",
           "snippet": {
            "publishedAt": "2016-10-10T03:17:07.000Z",
            "channelId": "UCYE8GO8URXHt3eLkqeo3uSw",
            "title": "FULL: Second Presidential Debate - Donald Trump vs Hillary Clinton - Washington University 10/9/2016",
            "description": "WATCH: Final Presidential Debate - Donald Trump vs Hillary Clinton: https://www.youtube.com/watch?v=dGQGwIr47YY\n\nWATCH: Third - Last Presidential Debate - Donald Trump vs Hillary Clinton: https://www.youtube.com/watch?v=dGQGwIr47YY\n\nClick Here To Go Straight To The Livestream Page!\n\n----------------------------------------------------------------------------------------------\n\nWATCH LIVE: Second Presidential Debate - Donald Trump vs Hillary Clinton - St. Louis, MO (10/9/2016) - Donald [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "y[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,%0D%0A%20%20%20%20%20%20authorDisplayName,authorProfileImageUrl)))&id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalidParameter",
            "message": "Invalid field selection items(snippet(authorChannelId,authorChannelUrl,\r\n      authorDisplayName,authorProfileImageUrl)))",
            "locationType": "parameter",
            "location": "fields"
           }
          ],
          "code": 400,
          "message": "Invalid field selection items(snippet(authorChannelId,authorChannelUrl,\r\n      authorDisplayName,authorProfileImageUrl)))"
         }
        }
  recorded_at: Tue, 25 Oct 2016 16:05:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl)))&id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalidParameter",
            "message": "Invalid field selection items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl)))",
            "locationType": "parameter",
            "location": "fields"
           }
          ],
          "code": 400,
          "message": "Invalid field selection items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl)))"
         }
        }
  recorded_at: Tue, 25 Oct 2016 16:11:02 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl))&id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "leevihermanni",
            "authorProfileImageUrl": "https://lh4.googleusercontent.com/-bzwXkvW61w8/AAAAAAAAAAI/AAAAAAAAAE4/G9k7waSjzVg/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UC8DJocIvsARy4NCaO3Pl1ZA",
            "authorChannelId": {
             "value": "UC8DJocIvsARy4NCaO3Pl1ZA"
            }
           }
          }
         ]
        }
  recorded_at: Tue, 25 Oct 2016 16:40:50 GMT
recorded_with: VCR 3.0.3
