---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=OyDSCKYz5sA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"I_8xdZu766_FSaexEaDXTIfEWc0/O3mfomd-QcarlwYduvlHpMZ0KFo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"I_8xdZu766_FSaexEaDXTIfEWc0/O3mfomd-QcarlwYduvlHpMZ0KFo\\\"\",\n
        \"nextPageToken\": \"Cg0Q4sGk0ITnzwIgACgBEsIBCAAQ6PHljZnjzwIqtAGv_onP9unRvmD3gKT5k-HU9mDK6cfFkovC8mDUqd3gpsuC0mKZmuiU6_S2wGCYipvn5JvpnmOdk_Kb0O_e6mLGyNrQ1NCi42CuqbmYlLThzmK_n4HNgYPC22K0of35q4SmlWDL1eGOk6Cmt2GU1YGPoJuS82KnueiI2qKJyGCHp5apne7p9mLvo7X3nN7No2LwjMKL0pbJ1GD4w7vd1POe5WO1u8WVkOyAvWD5-4rNgY_Xm2AYASAUKLzHt__tz9GtlwE=\",\n
        \"pageInfo\": {\n  \"totalResults\": 20,\n  \"resultsPerPage\": 20\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"I_8xdZu766_FSaexEaDXTIfEWc0/VBQXnpVSnbE5IZ_SG4sLtKXrC-8\\\"\",\n
        \  \"id\": \"z13nifmyjuu3v5ei304cedkpmyijwn2ydcw\",\n   \"snippet\": {\n    \"videoId\":
        \"OyDSCKYz5sA\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"I_8xdZu766_FSaexEaDXTIfEWc0/T5ZvxTD7_dNH1dCUKNqa9RvocvU\\\"\",\n
        \    \"id\": \"z13nifmyjuu3v5ei304cedkpmyijwn2ydcw\",\n     \"snippet\": {\n
        \     \"authorDisplayName\": \"Tomas Munoz\",\n      \"authorProfileImageUrl\":
        \"https://lh3.googleusercontent.com/-eSlmXBgSe78/AAAAAAAAAAI/AAAAAAAAABM/-yiojxptbtA/photo.jpg?sz=50\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UCpi3mcUtOOf1UrnNIbsnsZQ\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UCpi3mcUtOOf1UrnNIbsnsZQ\"\n
        \     },\n      \"videoId\": \"OyDSCKYz5sA\",\n      \"textDisplay\": \"Is
        the USA a nation or just the world’s biggest comedy club? ....Just wondering-Canada.\\ufeff\",\n
        \     \"canRate\": false,\n      \"viewerRating\": \"none\",\n      \"likeCount\":
        167,\n      \"publishedAt\": \"2016-10-15T03:25:38.000Z\",\n      \"updatedAt\":
        \"2016-10-15T03:25:38.000Z\"\n     }\n    },\n    \"canReply\": false,\n    \"totalReplyCount\":
        41,\n    \"isPublic\": true\n   }\n  },\n  {\n   \"kind\": \"youtube#commentThread\",\n
        \  \"etag\": \"\\\"I_8xdZu766_FSaexEaDXTIfEWc0/o6aihdyGRr5E9ej-r6IrKggthOA\\\"\",\n
        \  \"id\": \"z12tvbubjl23cf0cq23gwp1xdqfhzdbfh\",\n   \"snippet\": {\n    \"videoId\":
        \"OyDSCKYz5sA\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"I_8xdZu766_FSaexEaDXTIfEWc0/awbUR0Jqu8oTO_lIiR6ucrK_png\\\"\",\n
        \    \"id\": \"z12tvbubjl23cf0cq23gwp1xdqfhzdbfh\",\n[...]
[...]
